.button {
background: #00cc22;
}


.disabled {
    background: #7f7f7f;
}

.secondary {
    background: #e700ff;
}

.default {
    background: #0059b3;
}

.red {
    background: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
